html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

.flex{
    background: #c01e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
}

.menu-nav{
    display: flex;
    list-style: none;
    padding: 23px;
    margin: 0;
}

.menu-nav a{
    text-decoration: none;
    padding: 23px;
    color: beige;
    font-size: 18px;
}

.menu-nav a:hover{
    background: rgb(255, 6, 6);
    border-radius: 15px;
    border-bottom: groove rgb(255, 6, 6);
    color:yellow;
    border: 2px solid beige;
}

.capa{
    background-image: url(../Meu\ Primeiro\ Site/imagem/ods4.png);
    min-height: 100vh;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.capa h1{
    max-width: 500px;
    font-size: 40px;
    margin-bottom: 0;
    color: yellow;
    text-shadow: 3px 3px #000000;
}

.capa h2{
    max-width: 500px;
    font-size: 30px;
    margin-top: 0;
    border-top: 3px solid rgb(68, 236, 180);
    color: beige;
}

.capa .botao{
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.capa .botao:hover{
    background-color: rgb(255, 94, 0);
    border: 0px;
}

.projeto{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    background-color: red;
}

.video{
    flex: 50%;
    left: 100%;
    position: left;
    background-color: red;
    padding: 20px;
    float: left;
}

.texto h1{
    font-size:40px;
    text-align: center;
    color: turquoise;
    margin-top: 0px;
}

.justificado{
    text-align: justify;
}

.centralizado h1{
    text-align: center;
    background-color: rgb(173, 38, 20);
    color: rgb(81, 255, 0);
    margin: 0px;
    margin-top: 0px;
}

.texto{
    flex: 70%;
    padding: 0px 30px;
    float: left;
    color: beige;
    font-size: 12px;
    position: relative;
    width: 40%;
}

.video{
    flex: 50%;
    left: 100%;
    position: left;
    background-color: red;
    padding: 20px;
    float: left;
}

.icones{
    width: 51px;
}

#menu2{
    padding: 20px;
    background-color: rgb(173, 38, 20);
    color: rgb(81, 255, 0);
    display: flex;
}

.colunaquatro{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
}

.tema{
    width: 340px;
}

#menu3{
    padding: 20px;
    background-color: rgb(68, 236, 180);
    color: brown;
}

#menu4{
    padding: 20px;
    background-color: rgb(10, 23, 202);
    color: yellow;
}

#link{
    display: flex;
    list-style: none;
    padding: 23px;
    margin: 0;
}

#link a{
    text-decoration: none;
    padding: 5px;
    color: yellow;
    font-size: 18px;
    background-color: solid rgb(255, 94, 0);
}

#link a:hover{
    background-color: solid rgb(255, 94, 0);
    border: 0px;
    border-radius: 10px;
}

.colorido{
    background-color: teal;
    text-align: end;
}